:root {
  --alpha: 1;
  --zoom: 1;
  --text-color: #f9f9f9;
  --first-color: #1b1b1b;
  --background-color: #f9f9f9;
  --second-color: #1b1b1b;
  --main-color: #1b1b1b;
}

* {
  zoom: 1;
  font-family: "Roboto", sans-serif;
}

html {
  width: 100%;
  height: 100%;
  touch-action: none;
  user-select: none;
  orientation: portrait;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
  min-height: -webkit-fill-available;
  margin: 0;
  padding: 0;
  background: var(--background-color);
  transition: background 200ms linear;
}

#img-container {
  width: 320px;
  max-width: 90%;
  max-height: 90%;
  height: 640px;
  margin: 0 auto;
  border: 10px solid var(--second-color);
  border-radius: 20px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  opacity: var(--alpha);
  transform: scale(var(--zoom));
  transition: all 80ms ease-out;
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(255, 255, 2555, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: all 180ms linear;
}

#overlay:hover {
  backdrop-filter: blur(0);
  -webkit-backdrop-filter: blur(0);
  background: none;
}

#hours {
  pointer-events: none;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 200px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hours span {
  color: var(--main-color);
  font-size: 118px;
  text-shadow: 0px 0px 5px rgb(0 0 0 / 10%);
}

#img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#button {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  background-color: var(--second-color);
  width: 90%;
  height: 50px;
  border-radius: 7px;
  transform: scale(1);
  transition: transform 120ms ease-in;
}

#button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#button > span {
  color: var(--text-color);
  text-align: center;
  width: 100%;
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 15px;
  font-weight: bold;
}

#img-input {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

#img-input:hover {
  cursor: pointer;
}
